Новый TimeOff.Management аккаунт для {{#with new_user }}{{this.full_name}}{{/with}}
=====
<p>Здравствуйте <strong>{{new_user.name}}</strong>,</p>

<p><strong>{{#with admin_user}}{{this.full_name}}{{/with}}</strong> только что зарегистрировал новую учетную запись для вас как сотрудника <strong>{{company.name}}</strong>.</p>

<p>Пожалуйста, свяжитесь с <strong>{{admin_user.name}}</strong> о вашем новом пароле и логине на {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>В качестве альтернативы перейдите по ссылке ниже, чтобы установить новый пароль:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text='Set new password'}}
{{/ with }}

</p>

<p>Спасибо</p>
