
{{> header }}

<h1>Мои каналы</h1>

<p class="lead">Каналы для внешних календарей</p>

{{> show_flash_messages }}

<div class="row">

  <div class="col-md-6">

    <div class="row">&nbsp;</div>

    <div class="row">
      <div class="col-md-12">

        <p class="description-paragraph">Делитесь своими TimeOff.Management данными с внешними поставщиками календарей, такими как Microsoft Outlook, Apple Calendar (iCal) or Google Calendar.</p>

        <p class="description-paragraph">Мы предоставляем следующие потоки:</p>
        <p class="description-paragraph">
          <a href="/calendar/">Мой календарь</a> страница - передает все данные со страницы Моего календаря
        </p>
        {{# unless keep_team_view_hidden}}
        <p class="description-paragraph">
          <a href="/calendar/teamview/">Командный просмотр</a> страница - передает все данные со страницы Командный просмотр за текущий месяц
        </p>
        {{/ unless}}

        <p class="description-paragraph">Чтобы экспортировать определенную ленту в приложение календаря по умолчанию, просто нажмите на соответствующую ссылку.</p>

        <p class="description-paragraph">В противном случае скопируйте местоположение ссылки и передайте его внешнему приложению.</p>

      </div>
    </div>

    <div class="row feeds-holder">

      <div class="col-md-5 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{calendar_feed.feed_token}}/ical.ics">Моя лента календаря <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{calendar_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>

      {{# unless keep_team_view_hidden }}
      <div class="col-md-5 col-md-offset-2 well">
        <form method="POST" action="/calendar/feeds/regenerate/">
        <a href="webcal://{{current_host}}/feed/{{team_view_feed.feed_token}}/ical.ics">Лента командного просмотра <i class="fa fa-rss"></i></a>

        <input type="hidden" name="token" value="{{team_view_feed.feed_token}}"/>
        <button type="submit" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-trash"></i></span></button>
        </form>
      </div>
      {{/ unless }}

    </div>
  </div>


  <div class="col-md-6">
    <div class="row feed-calendar-big-picture-holder">
      <i class="fa fa-calendar feed-calendar-big"></i>
    </div>
  </div>



</div>

{{> footer }}
