

{{> header }}

<h1>Общие настройки</h1>

<p class="lead">Основные настройки аккаунта</p>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Компания
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-5">
            <form class="form-horizontal" method="POST" action="/settings/company/" id="company_edit_form">
              <div class="form-group">
                <label for="input_company_name" class="col-md-4 control-label">Название компании</label>
                <div class="col-md-8">
                  <input class="form-control" id="input_company_name" placeholder="Our company name" value="{{company.name}}" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="input_country" class="col-md-4 control-label">Страна</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_country" name="country">
                    {{#each countries}}
                    <option value="{{@key}}" {{# if_equal @key ../company.country }} selected="selected"{{/if_equal}}>{{@key}}: {{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input_date_format" class="col-md-4 control-label">Формат даты</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_date_format" name="date_format">
                    {{#with company}}
                    {{#each this.get_available_date_formats}}
                    <option value="{{this}}" {{# if_equal this ../date_format }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                    {{/with}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_time_zone" class="col-md-4 control-label">Часовой пояс</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_time_zone" name="timezone">
                    {{#each timezones_available}}
                    <option value="{{this}}" {{# if_equal this ../company.timezone }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_carry_over" class="col-md-4 control-label">Перенесенный на несколько дней</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_carry_over" name="carry_over">
                    {{#each carryOverOptions}}
                    <option value="{{this.days}}" {{# if_equal this.days ../company.carry_over }} selected="selected"{{/if_equal}}>{{this.label}}</option>
                    {{/each}}
                  </select>
                    <p>
                      <em>Количество дней выплаты пособия работнику, которые переносятся на следующий год.</em>
                    </p>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="share-all-absences">
                      <input id="share-all-absences" type="checkbox" name="share_all_absences" {{# if company.share_all_absences }} checked="checked"{{/if}}>Распределение отсутствий между сотрудниками
                    </label>
                    <p>
                      <em>Если этот параметр включен, все сотрудники могут видеть информацию о всех отсутствующих независимо от отделов.</em>
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="is-team-view-hidden">
                      <input id="is-team-view-hidden" type="checkbox" name="is_team_view_hidden" {{# if company.is_team_view_hidden }} checked="checked"{{/if}}>Скрыть страницу просмотра команды для пользователей, не являющихся администраторами
                    </label>
                    <p>
                      <em>Если отмечено, страница просмотра команды отображается только для пользователей с правами администратора.</em>
                    </p>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-success pull-right single-click">Сохранить изменения</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-offset-1 col-md-5">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-7 control-label">Резервное копирование данных об отпусках сотрудников</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <em>Загрузите полный список сотрудников со всеми их просьбами об отпуске. Файл находится в <strong>.CSV</strong> формат, совместимый с MS Excel.</em>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-11">
                  <a class="btn btn-success pull-right" href="/settings/company/backup/"><i class="fa fa-download"></i> Загрузить резервную копию</a>
                </div>
              </div>
            </div>

            <form class="form-horizontal" method="POST" action="/settings/schedule" id="company_schedule_form">
            <input type="hidden" name="company_wide" value="1">
            <div class="form-group">
              <label for="" class="col-md-6 control-label">График работы компании на неделю</label>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                {{> schedule_widget}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                <em>Определите еженедельный график всей компании. Нажмите соответствующую кнопку, чтобы переключить рабочий/нерабочий день.</em>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-11">
                <button type="submit" class="btn btn-success pull-right single-click">Сохранить расписание</button>
              </div>
            </div>
            </form>

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-10 control-label">Расчет и перенос неиспользованного резерва</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <p><em>Это действие перенесет неиспользованное пособие на каждого сотрудника из <strong>{{yearPrev}}</strong> к текущему году, <strong>{{yearCurrent}}</strong>.</em></p>
                  <p><em>Пожалуйста, обратите внимание, что надбавка сотрудникам будет обновляться.</em></p>
                </div>
              </div>
              <div class="form-group">
                <form class="col-md-offset-2 col-md-11" id="calculate_carry_over_form" method="post" action="/settings/carryOverUnusedAllowance">
                  <button class="btn btn-success pull-right single-click" type="submit"><i class="fa fa-share"></i> Надбавка на перенос</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        Типы отпусков
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Название типа отпуска</label>
            <p><em>Отметьте один из них, чтобы всегда был в верхней части списка</em></p>
          </div>
          <div class="col-md-offset-3 col-md-2">
            <label class="control-label">Лимит</label>
            <p><em>Дни/год</em></p>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="delete_leavetype_form" method="post" action="/settings/leavetypes/delete/"></form>
        <form id="leave_type_edit_form" method="post" action="/settings/leavetypes/">

        {{#unless leave_types.length }}
        <div class="row">
          <div class="col-md-4">Нет записей о типе отпуска</div>
        </div>
        {{/unless}}

        {{#each leave_types}}
        <div class="row">
          <div class="col-md-6">

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" name="first_record" value="{{ this.id }}" {{# if this.sort_order }}checked="checked"{{/ if}}>
              </span>
              <input type="text" class="form-control" name="name__{{ this.id }}" value="{{name}}" data-tom-leave-type-order="name_{{@index}}">

              <div class="input-group-btn" data-tom-color-picker="1" data-tom-leave-type-order="colour__{{@index}}">
                <input type="hidden" name="color__{{ this.id }}" value="{{# with this }}{{ this.get_color_class }}{{/with}}">
                <button type="button" class="btn btn-default dropdown-toggle {{# with this }}{{ this.get_color_class }}{{/with}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i></button>
                <ul class="dropdown-menu">
                  {{> options_for_color_picker}}
                </ul>
              </div>

            </div>

          </div>

          <div class="col-md-3">
            <div>
              <input name="use_allowance__{{ this.id }}" id="use_allowance__{{ this.id }}" type="checkbox" {{#if use_allowance}}checked="checked"{{/if}} data-tom-leave-type-order="allowance_{{@index}}">
              <label for="use_allowance__{{ this.id }}" class="control-label">Пособие на использование</label>
            </div>
            <div>
              <input name="auto_approve__{{ this.id }}" id="auto_approve__{{ this.id }}" type="checkbox" {{#if auto_approve}}checked="checked"{{/if}} data-tom-leave-type-order="approve_{{@index}}">
              <label for="auto_approve__{{ this.id }}" class="control-label">Автоматическое утверждение</label>
            </div>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" value="{{limit}}" name="limit__{{ this.id }}" data-tom-leave-type-order="limit_{{@index}}">
          </div>
          <div class="col-md-1">
            <button class="btn btn-default pull-right leavetype-remove-btn" value="{{ this.id }}" data-tom-leave-type-order="remove_{{@index}}"><span class="fa fa-remove"></span></button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        {{/each}}

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-default" data-toggle="modal" data-target="#add_new_leave_type_modal" type="button" id="add_new_leave_type_btn">Добавить новый</button>
              <button type="submit" class="btn btn-success single-click">Сохранить изменения</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5 setting-general-2nd-column">
    <div class="panel panel-default">
      <div class="panel-heading">
        Банковские каникулы
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 tst-no-bank-holidays">Банковские каинкулы можно найти <a href="/settings/bankholidays/">здесь</a></div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <i class="fa fa-bomb"></i> Опасная зона
      </div>
      <div class="panel-body">

          <div class="col-md-12">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="control-label">Удалить учетную запись компании</label>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <p><em>Полностью удалить данные, связанные с учетной записью {{company.name}}.</em></p>
                  <p><em> Это действие не может быть отменено.</em></p>
                  <p><em> Настоятельно рекомендуется <a href="/settings/company/backup/">сначала загрузить</a> данные об отпусках сотрудников.</em></p>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#remove_company_modal" type="button"><i class="fa fa-remove"></i> Удалить учетную запись компании</button>
                </div>
              </div>
            </div>

          </div>


      </div>
    </div>
  </div>
</div>

{{> add_new_leave_type_modal
  container_id='add_new_leave_type_modal'
  form_action='/settings/leavetypes/'
}}

{{> remove_company_modal
  container_id='remove_company_modal'
}}

{{> footer }}
