
<div>
  <strong>Имя:</strong> {{userFullName}}.
</div>
<div>
  <strong>Отдел:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>Доступно:</strong> {{userAllowance.number_of_days_available_in_allowance}} дней из {{userAllowance.total_number_of_days_in_allowance}}.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>Утверждающие:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
