
{{#if limitedView}}
  <div>
    <strong>Даты:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Сотрудник:</strong> {{leave.employeeFullName}}.
  </div>
{{else}}
  <div>
    <strong>Даты:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>Тип:</strong> {{leave.type}}.
  </div>
  <div>
    <strong>Статус:</strong> {{leave.status}}.
  </div>
  <div>
    <strong>Сотрудник:</strong> {{leave.employeeFullName}}.
  </div>
  <div>
    <strong>Вычтенные дни:</strong> {{leave.deductedDays}}.
  </div>
  <div>
    <strong>Утверждающий:</strong> {{leave.approver}}.
  </div>
  <div>
    <strong>Запрошенный на:</strong> {{leave.createdAt}}.
  </div>
  {{#if leave.commentsString }}
  <div>
    <strong>Комментарии:</strong> {{leave.commentsString}}.
  </div>
  {{/if}}
{{/if}}
